APP_KEY=
APP_ENV=local
APP_DEBUG=true
APP_URL=https://benchkit.dev.test

BOOST_PHP_EXECUTABLE_PATH="./vendor/bin/spin-mcp-wait.sh ./vendor/bin/spin run -T php php"
BOOST_COMPOSER_EXECUTABLE_PATH="./vendor/bin/spin run php composer"
BOOST_NPM_EXECUTABLE_PATH="./vendor/bin/spin run node npm"

OCTANE_SERVER=frankenphp